@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
 

 
.heading {
    margin-top: 2rem;
    font-family: 'Playfair Display', serif;

   text-align: center;
   

}
.image{
   width:100%;
   height:100%;
}
.a{ 
    height: 50vh;
    display: flex;
    flex-direction: row;
 }
.left {
    margin-left: 2rem;
    width: 35%;
    border-style: none;
 }
.right {
    margin-left: 4rem;
    width: 60%;
   font-weight: 100;
    font-size: 20px;
    word-spacing: 18px;
 
    overflow:hidden;
    
     }
