.footer{
padding-top: 20px;
    background-color: rgb(165, 160, 160);
    box-shadow: 12px 20px 20px 30px #888888;

}
*{
    margin: 0%;
    padding: 0%;
}
.logo2{
    text-align: center;
    padding-bottom: 16px;
}
.footerList{
    background-color: rgb(5, 4, 4);
    margin: 3px;
    align-content: center;
    text-align: center;
    align-items: center;
    padding: 4px;
}
.footericonsList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 12px;
   
}
.footericons{
    align-items: center;
    align-content: center;
    left:50%;
    right: 0%;
    text-align: center;

}
.footerList:hover{
   background-color: rgb(0, 136, 255);
    
    transform: translateY(-6px);
  transform: translateY(0) scale(1.2);

  transition:0.3s;

}
.git:hover{
    background-color: rgb(0, 0, 0);

}
.mail:hover{
    background-color: rgb(211, 28, 28);

}
.insta:hover{
    background-color: rgb(245, 10, 213);

}
.wtsp:hover{
    background-color: rgb(5, 197, 31);

}
.link:hover{
    background-color: rgb(24, 59, 255);

}
.tweet:hover{
    background-color: rgb(9, 153, 197);

}
.fb:hover{
    background-color: rgb(28, 149, 158);

}