
 

.i{
    display: flex;
    height: 100vh;
    flex-direction: row;
}
.i-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.i-right {
    flex: 1;
    position: relative;
}




.i-left-wrapper {
    padding: 60px;
  
    height: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.i-intro {
    font-size: 35px;
     font-weight: 300;
     margin-bottom: 0%;
}
.i-name{
    margin-top: 0%;
    font-size: 50px;
    color: rgb(9, 60, 131);
    margin-bottom: 0%;

}
.i-title {
    height: 50px;
    overflow: hidden;
}
.i-title-wrapper{
    height: 100%;
animation: move 10s ease-in-out infinite alternate  ;
}
@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);

    }
    75%{
        transform: translateY(-150px);

    }
    100%{
        transform: translateY(-200px);

    }
    
}
.i-title-item {
    height:50px;
    font-size: 30px;
    font-weight: bold;
    color:  rgb(0,170,9);
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}
.i-bg {
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0% );
     background-color: rgb(0, 170, 9);
     width: 100%;
     height: 100%;
     top: 0;
     right: 0;
     position: absolute;
    }
.i-image{
        width: 100%;
    height: 100%;
    position: relative;
   object-fit:contain;


}







button, button::after {
    width: 380px;
    height: 86px;
    cursor: pointer; 
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
  }
  
  button::after {  
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'AVAILABLE NOW';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }
  
  button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }
  a{
      text-decoration: none;
      color: bisque;
  }